<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @dymmmy.title %>
</p>

<p>
  <b>Description:</b>
  <%= @dymmmy.description %>
</p>

<p>
  <b>Budget:</b>
  <%= @dymmmy.budget %>
</p>

<p>
  <b>Deadline:</b>
  <%= @dymmmy.deadline %>
</p>


<%= link_to 'Edit', edit_dymmmy_path(@dymmmy) %> |
<%= link_to 'Back', dymmmies_path %>
